<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PersistenciaDestino" value="PostgresProyecto"/>
		<add key="URLServer" value="168.192.100.5"/>
	</appSettings>
	<connectionStrings>
		<add name="MemoryProyecto"
			 connectionString="Proyecto"/>
		<add name="SQLServerProyecto"
			 connectionString="Data source=GABY;Initial Catalog=ProyectoFinal;Integrated Security=true;"
    />
		<add name="PostgresProyecto"
		   connectionString="Host = localhost;Database = ProyectoFinal;Username = postgres;Password = 1234"
    />
	</connectionStrings>
</configuration>